<div class="container">
  <h1 class="mt-4">{{title}} <span class="badge badge-info">beta</span></h1>
  <form class="mt-4">
    <div class="form-group">
      <textarea class="form-control" name="inputText" id="inputText" rows="5" (input)="refreshOutput()" [(ngModel)]="inputText"></textarea>
      <small id="disclaimer" class="form-text text-muted">
        No se guarda ni procesa la información utilizada en el anterior formulario.
      </small>
    </div>
  </form>
  <div class="row" *ngFor="let text of outputArray">
    <div class="col-11">{{text}}</div>
    <div class="col-1"></div>
  </div>
</div>